/* Applicable to Entire page */
body {
  background-color: #eee;
  margin: 0 auto;
  font-family: Helvetica, Garamond, sans-serif;
}
.links {
  text-decoration: none;
}

/* Header Specifics */
.header {
  display: table;
  width: 100%;
  height: 150px;
  background-color: #005;
  opacity: 0.8;
}
.header .titlecontainer{
  display: table-cell;
  vertical-align: middle;
  margin: inherit;
}
.header h1{
  margin: inherit;
  font-size: 3em;
  color: #fff;
  text-align: center;
}

/* Content Specifics */
.content {
  display: grid;
  grid-template-columns: 200px 1fr 100px;
  height: 1000px;
  overflow: auto;
}
.content .sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px repeat(10, 60px) 1fr;
  grid-column: 1/2;
  padding: 0;
  background-color: #999;
  overflow: auto;
}
.sidebar .sidebartitle {
  display: block;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 0;
  border-bottom: 2px solid #555;
}
.sidebartitle h3{
  color: black;
  line-height: 80px;
  text-align: center;
}
.content .sidebar .links {
  display: grid;
  padding: inherit;
  width: 200px;
  margin: 0 auto;
}
.content .sidebar .links h3{
  text-align: center;
  color: white;
  line-height: 60px;
}
.content .sidebar .links:hover{
  background-color: #bbb;
}
.content .main-content{
  display: block;
  grid-column: 2/3;
  background-color: #e6ddde;
}
.content .main-content .article{
  margin: 50px 50px;
}
.content .main-content h2{
  text-align: center;
  color: #443235;
  font-family: Garamond;
  font-size: 2em;
}
.content .main-content p{
  text-align: justify;
  color: #443235;
  font-size: 1.5em;
  font-family: Garamond;
}

/* Footer Specifics */
.footer {
  margin: 0 auto;
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #555;
}
.footer .footercell{
  margin: 0 auto;
  display: table;
  height: 100px;
}
.footercell h3{
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 100px;
  color: white;
  font-weight: lighter;
}
